Bonus

In [49]:
# Načti znovu data, ale tentokrát nastav parametr index_col na název sloupce, který obsahuje název zvířete v češtině. Všimni si, že sloupec teď povýší na index a už se nenachází mezi "běžnými" sloupci.

import pandas as pd
animals = pd.read_csv('adopce-zvirat.csv', sep=';',index_col=[1])

print(animals)

                       id                     nazev_en       trida_cz  cena  \
nazev_cz
Šváb syčivý             7  Madagascar giant cockroach      Bezobratlí  1000
Pakobylka okřídlená     8     Pink-winged stick insect     Bezobratlí  1000
Tayra                  16                        Tayra          Savci  5000
Kajmanka supí          35    Alligator snapping turtle          Plazi  2000
Želva žlutočelá        37       Indochinese box turtle          Plazi  1000
...                   ...                          ...            ...   ...
Rosnice šalamounská  1417                               Obojživelníci  1000
Létavka obecná       1418                               Obojživelníci  1000
Bažant paví          1419                                       Ptáci  1000
Sojkovec rezavouchý  1420                                       Ptáci  1000
Kachnice kaštanová   1421                                       Ptáci  1000

                     k_prohlidce
nazev_cz
Šváb syčivý                    1
Pakobylka okřídlená            1
Tayra                          1
Kajmanka supí                  1
Želva žlutočelá                1
...                          ...
Rosnice šalamounská            1
Létavka obecná                 1
Bažant paví                    1
Sojkovec rezavouchý            1
Kachnice kaštanová             1

[513 rows x 5 columns]

In [50]:
# Pomocí <tvoje-promenna>.index.is_unique ověř, zda je nový index unikátní.
animals.index.is_unique

True

In [53]:
# Seřazený index je efektivnější a přehlednější. Seřaď index pomocí metody .sort_index(). Bacha, metoda vrátí novou tabulku se seřazeným indexem. Budeš tedy chtít přepsat původní tabulku.
animals = animals.sort_index()
print(animals)

                                             id                 nazev_en  \
nazev_cz
Achatina žravá                              621      Giant African snail
Adax                                        402                    Addax
Agama stepní                               1214             Steppe agama
Agama turkestánská                         1215     Turkestan rock agama
Agamka písečná                             1233        Toad-headed agama
...                                         ...                      ...
Želva černavá                               673  Giant Asian pond turtle
Želva žlutočelá                              37   Indochinese box turtle
Žirafa severní núbijská (= Rothschildova)   396   Rothschild's giraffe
Žluna větší                                1069       Greater yellownape
Žluva hajní                                1190   Eurasian golden oriole

                                             trida_cz   cena  k_prohlidce
nazev_cz
Achatina žravá                             Bezobratlí   1000            1
Adax                                            Savci   5000            1
Agama stepní                                    Plazi   1000            1
Agama turkestánská                              Plazi   1500            1
Agamka písečná                                  Plazi   1500            1
...                                               ...    ...          ...
Želva černavá                                   Plazi   2000            1
Želva žlutočelá                                 Plazi   1000            1
Žirafa severní núbijská (= Rothschildova)       Savci  50000            1
Žluna větší                                     Ptáci   1500            1
Žluva hajní                                     Ptáci   1000            1

[513 rows x 5 columns]

In [54]:
animals.loc['Outloň váhavý']

id                          749
nazev_en       Sunda slow loris
trida_cz                  Savci
cena                       2000
k_prohlidce                   1
Name: Outloň váhavý, dtype: object

In [55]:
# Rozsahy fungují podobně jako u číselných indexů. Vyhledej záznamy mezi "Želva Smithova" a "Želva žlutočelá"
animals.loc['Želva Smithova':'Želva žlutočelá']

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Želva Smithova,1117,Brown roof turtle,Plazi,1000,1
Želva amboinská,479,Malayan box turtle,Plazi,1000,1
Želva annámská,478,Vietnamese pond turtle,Plazi,1000,1
Želva bahenní,1115,European pond turtle,Plazi,1000,1
Želva dlaždicovitá,1338,Impressed tortoise,Plazi,3000,1
Želva egyptská,980,Egyptian tortoise,Plazi,1000,1
Želva hvězdnatá,1412,,Plazi,1500,1
Želva korunkatá,1112,Crowned river turtle,Plazi,2000,1
Želva kubánská,830,North Antillean slider,Plazi,1000,1
Želva obrovská,40,Aldabra giant tortoise,Plazi,5000,1
Želva ostnitá,1255,Spiny turtle,Plazi,2000,1
Želva pardálí,763,Leopard tortoise,Plazi,2000,1
Želva plochohřbetá,987,Malayan flat-shelled turtle,Plazi,2000,1
Želva skalní,41,Pancake tortoise,Plazi,1000,1
Želva sloní,39,Galapagos tortoise,Plazi,5000,1
Želva stepní (= čtyřprstá),38,Russian tortoise,Plazi,1500,1
Želva texaská (= Berlandierova),1096,Texas tortoise,Plazi,1000,1
Želva tlustohrdlá,772,Malaysian black mud turtle,Plazi,1000,1
Želva tuniská,1160,Tunisian spur-thighed tortoise,Plazi,1000,1
Želva zubatá,771,Asian leaf turtle,Plazi,1000,1
Želva černavá,673,Giant Asian pond turtle,Plazi,2000,1
Želva žlutočelá,37,Indochinese box turtle,Plazi,1000,1